
<% for(let i=0;i<products.length;i++){ %>
<tr>
    <td><%= i+1 %></td>
    <td><%=products[i].name  %></td>
    <td><img src="<%=products[i].image[0]  %>" alt="" style="width:100px "></td>
    <td><%=products[i].brand.name  %></td>
    <td><%=products[i].description  %></td>
    <td><%=products[i].price  %></td>
    
    
    <td>
        <a   href="/update-product?id=<%= products[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
        <a  href="/delete-product/<%= products[i]._id%>"class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
        <!-- <a href="" class="btn border-shadow"email-id=<%= products[i]._id %>></a>
        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span> -->
    </td>
</tr>

<% } %>




  
<script>

  </script>
