<%- include('_userheader') %>
<%- include('_header') %>



	 <!-- sidebar -->
	 <%- include('_sideBar') %>
     <!-- sidebar -->

	
	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
				<%- include('_navBar') %>
			<div class="row">
				<!-- <div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/assets/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>Enjoy our offers and privilege by registering on our websit and loggin in </p>
							<a class="primary-btn" href="registration.html">Create an Account</a>
						</div>
					</div>
				</div> -->
				<div class="col-lg-12">
					<div class="login_form_inner">
						<h3>Add New Product</h3>
						<form class="row login_form" action="/add-product" method="post" id="contactForm" enctype="multipart/form-data" >
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="addName" name="addName" placeholder="Product Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Product Name'">
							</div>
							<div class="col-md-12 row form-group">
								<label class="col-md-5 mt-3 ml-2" for="addBrand">Choose the Brand:</label>
                                    <select class="col-md-6" name="addBrand" id="addBrand">
										<% brand.forEach(function(brand) { %>
                                      <option value="<%= brand._id %>"><%= brand.name %>
									</option>
                                      <% }); %>
                                    </select>
							</div>
							
                            <div class="col-md-12 form-group">
								<input type="text" class="form-control" id="addDescription" name="addDescription" placeholder="Product Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Product Description'">
							</div>
							
							<div class="col-md-12 form-group">
								<input type="file" multiple class="form-control" id="image" name="image" placeholder="Image" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Image'">
							</div>

                            <div class="col-md-12 form-group">
								<input type="number" class="form-control" id="addPrice" name="addPrice" placeholder="Price" onfocus="this.placeholder = ''" onblur="this.placeholder = 'price'">
							</div>

							
							<div class="col-md-12 form-group mb-5">
								<button type="submit" value="submit" class="btn-secondary">Add Product</button>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
	
	<script>
		function uploadImage() {
		  const fileInput = document.getElementById('imageInput');
		  const file = fileInput.files[0];
  
		  if (!file) {
			alert('Please select an image file.');
			return;
		  }
  
		  // Perform additional client-side validation if needed
		  // ...
  
		  // Create a FormData object and append the file to it
		  const formData = new FormData();
		  formData.append('image', file);
  
		  // Send the formData to the backend
		  fetch('/upload', {
			method: 'POST',
			body: formData,
		  })	
			.then((response) => response.json())
			.then((data) => {
			  // Handle the response from the backend
			  console.log(data);
			})
			.catch((error) => {
			  // Handle any errors
			  console.error(error);
			});
		}
	  </script>
	

<%- include('_footer') %>
	<%- include('_userfooter') %>