
<%- include('_header') %>

    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%- include('_sideBar') %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
           <%- include('_navBar') %>
            <!-- Navbar End -->


            <!-- Table Start -->
            
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Product Details</h6>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Payment Mode</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Status</th>
                                       
        
                                        
        
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                    
                                    <% if (order) { %>
                                        <% let sum=0 %>
                                        <% order.products.forEach(element => { %> <% sum=sum+element.total %> <br> <% }) %> 
        
                                                <tr>
                                                    <td><%= order.createdAt.toLocaleDateString(); %></td>
                                                    <td><%=order.userId.name  %></td>
                                                   
                                                     <td <% order.products.forEach(element => { %> ><%=element.name %> <br> <% }) %></td>
                                                     <td><%= order.address.phone %></td>
                                                     <td><%= order.address.email %></td>
                                                     <td>  <% order.products.forEach(element => { %> <%= element.price %> <br> <% }) %></td>
                                                     <td>  <%=order.paymentMode %> <% if (order.secondaryPaymentMode) { %>
                                                        /<%= order.secondaryPaymentMode %>
                                                       <% } %></td>
                                                     <td>  <% order.products.forEach(element => { %> <%= element.quantity %> <br> <% }) %></td>
                                                     <td> <%= sum %> </td>
                                                     <td><%= order.address.addressLine1 %> <br> <%= order.address.addressLine2 %> <br> <%= order.address.postcode %></td>
                                                     <td <% if (order.status=="Cancelled") { %>
                                                        style="color:red"
                                                       <% } %>
                                                       <% if (order.status=="Processing") { %>
                                                        style="color:orange"
                                                       <% } %>
                                                       <% if (order.status=="Delivered") { %>
                                                           style="color:green"
                                                       <% } %>
                                                       <% if (order.status=="Shipped") { %>
                                                           style="color:blue"
                                                       <% } %>><%= order.status %></td>
                                                     
                     
                                                </tr>
                                               
                
                                                  
                
                                          
                                     
                                           <% } %>
                                    
                                   
                                  
        
                                  
        
                                   
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Button trigger modal -->
                   <!-- Button trigger modal -->


  
  
  
  



                     
                    <head>
                      

                       
                      </head>
                      <body>
                        <!-- <script>
                        Swal.fire("Here's a title!", "Here's some text","success",{
                              title:"i am New title",
                              text:"I am New Text",
                              icon:'https://dl.dropbox.com/s/qe98k2xvmqivxwz/google_apps.png',
                        });
                        </script> -->
                      </body>
                   
                    
                    
            <!-- Table End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Super User</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed with love
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


    

    <%- include('_footer') %>