
<%- include('_header') %>

    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%- include('_sideBar') %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
           <%- include('_navBar') %>
            <!-- Navbar End -->


            <!-- Table Start -->
            
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Product Details</h6>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">SI No</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Order Id</th>
                                        
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Status</th>
                                        
                                        <th scope="col">Detail view</th>
                                        <th scope="col">Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <% if (order) { %>
                                    <% for(let i=0;i<order.length;i++){ %>
                                        <tr>
                                            <td><%= i+1 %></td>
                                            <td><%= order[i].createdAt.toLocaleDateString() %></td>
                                            <td><%= order[i]._id.toString().slice(-8) %></td>
                                         
                                            <td><% (order[i].products).forEach(element => { %><%= element.name %><br><% }) %></td>
                                            <td > <a <% if (order[i].status=="Cancelled") { %>
                                                style="color:red"
                                               <% } %>
                                               <% if (order[i].status=="Processing") { %>
                                                style="color:orange"
                                               <% } %>
                                               <% if (order[i].status=="Delivered") { %>
                                                   style="color:green"
                                               <% } %>
                                               <% if (order[i].status=="Shipped") { %>
                                                   style="color:blue"
                                               <% } %>
                                               <% if (order[i].status=="Returned") { %>
                                                   style="color:violet"
                                               <% } %>
                                               <% if (order[i].status=="Refunded") { %>
                                                   style="color:black"
                                               <% } %> data-bs-toggle="modal" data-bs-target="#editStatus<%=order[i]._id  %>" ><%= order[i].status  %></a> </td>
                                           
                                           
                                            <td><a href="/order-data/detail/<%= order[i]._id %>" style="color: green;">View Details</a></td>
                                            <td><% if (order[i].paymentMode === "paypal") { %>
                                                <% if (order[i].status === "Returned" || order[i].status === "Cancelled") { %>
                                                    <form action="/refund/<%= order[i]._id %>" method="post">
                                                       <button>Refund</button>
                                                    </form>
                                                   <% } %>
                                             <% } else { %>
                                                <% if (order[i].status === "Returned") { %>
                                                    <form action="/refund/<%= order[i]._id %>" method="post">
                                                       <button>Refund</button>
                                                    </form>
                                                   <% } %>
                                            <% } %></td>
                                        </tr>
        
                                            <% } %>

                                   <% } %>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Button trigger modal -->
                   



  
                    <% if (order) { %>
                        <% order.forEach(element => { %>
                         <!-- Modal -->
                         <div class="modal fade" id="editStatus<%=element._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                           <div class="modal-dialog" role="document">
                             <div class="modal-content">
                               <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLongTitle">Edit Status</h5>
                                 <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                 </button>
                               </div>
                               <div class="modal-body">
                                <form class="text-dark" action="/change-order-status/<%= element._id %>" method="post">
                                      <div class="form-group">
                                        <label for="name" class="col-form-label text-dark">Status : </label>
                                        <select class="custom-select tm-select-accounts" id="name" name="status">
                                          <option value="Pending" <%=element.status==='Processing' ? 'selected' : '' %>>Processing</option>
                                          <option value="Shipped" <%=element.status==='Shipped' ? 'selected' : '' %>>Shipped</option>
                                          <option value="Delivered" <%=element.status==='Delivered' ? 'selected' : '' %>>Delivered</option>
                                          <option value="Cancelled" <%=element.status==='Cancelled' ? 'selected' : '' %>>Cancelled</option>
                                        </select>
                                        <input hidden name="userId" value="<%= element.userId %>">
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                                        <a><button type="submit" class="btn btn-primary">confirm</button></a>
                                      </div>
                                    </form>
                               </div>
                             </div>
                           </div>
                         </div>
                        <% }) %>
                     
                    <% } %>
  
  

                    <div class="container" >
                        <div class="row">
                            <div class="col-md-11" ><a href=""><i class="fa fa-arrow-left " aria-hidden="true"></i></a></i></div>
                            <div class="col-md-1" ><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
                        </div>
                    </div>



                     
                    <head>
                      

                       
                      </head>
                      <body>
                        <!-- <script>
                        Swal.fire("Here's a title!", "Here's some text","success",{
                              title:"i am New title",
                              text:"I am New Text",
                              icon:'https://dl.dropbox.com/s/qe98k2xvmqivxwz/google_apps.png',
                        });
                        </script> -->
                      </body>
                   
                    
                    
            <!-- Table End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Super User</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed with love
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script>
       async function next(){
           try {
            const response = await fetch('/order-data', {method: 'GET',headers: {'Content-Type': 'application/json'},body: JSON.stringify({ page })});
            const data = await response.json();

           } catch (err) {
            console.error(err)
           }
        }

        function previous(){

        }
    </script>
    

    <%- include('_footer') %>