<%- include('_userheader') %>

	
	<%- include('_adminHeaderNavBar') %>
	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Update Product</h1>
					<nav class="d-flex align-items-center">
						<a href="/dashboard">Dashboard<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/product-data">Product Data<span class="lnr lnr-arrow-right"></span></a>
						<a href="/update-product">Update Product</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<!-- <div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/assets/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>Enjoy our offers and privilege by registering on our websit and loggin in </p>
							<a class="primary-btn" href="registration.html">Create an Account</a>
						</div>
					</div>
				</div> -->
				<div class="col-lg-12">
					<div class="login_form_inner">
						<h3>Update User</h3>
						<form class="row login_form"  method="post" id="updateUser" action="/update-user/<%= users._id %>" enctype="multipart/form-data" >
							<div class="col-md-12 form-group">
								<input type="text" class="form-control"  name="name" value="<%=users.name  %>" placeholder="Product Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Product Name'">
							</div>
							<div class="col-md-12 form-group">
								<input type="file" class="form-control" id="image" name="image" placeholder="Image" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Image'">
							</div>
							<div class="col-md-12 row form-group">
								<label class="col-md-5 mt-3 ml-2" for="status">Status:</label>
                                    <select class="col-md-6" name="status" value="<%=users.status  %>">
                                      <option value="<%=users.status %>"><%=users.status %></option>
                                      <option value="Active">Active</option>
                                      <option value="Inactive">Inactive</option>
                                      
                                    </select>
							</div>
                            <div class="col-md-12 form-group">
								<input type="text" class="form-control"  name="email" value="<%=users.email %>" placeholder="Email Id" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Id'">
							</div>

							<div class="col-md-12 form-group">
								<input type="tel" class="form-control"  name="phone" value="<%=users.phone %>" placeholder="Phone No" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone No'">
							</div>
                            
							
							<div class="col-md-12 form-group mb-5">
								<button type="submit" value="submit" class="primary-btn">Update User</button>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	


	<%- include('_userfooter') %>