<%- include('_header') %>

    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%- include('_sideBar') %>
            <!-- Sidebar End -->


            <!-- Content Start -->
            <div class="content">
                <!-- Navbar Start -->
                <%- include('_navBar') %>
                    <!-- Navbar End -->


                    <!-- Table Start -->

                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Product Details</h6>
                           
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone No</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>

                                    </tr>
                                </thead>
                                <tbody>

                                    
                                       <% if (users) { %>
                                        
                                            <% for( let i = 0; i <users.length; i++ ) { %>
                                            
                                           
                                        <tr>
                                            <td>
                                                <%= i+1 %>
                                            </td>
                                            <td>
                                                <%=users[i].name %>
                                            </td>
                                            <td>
                                                <img src="<%= users[i].image %>"  alt="" style="width: 100px;">
                                            </td>
                                            <td>    
                                                <%=users[i].email %>
                                            </td>
                                            <td>
                                                <%=users[i].phone %>
                                            </td>
                                            <td <% if (users[i].status=="Blocked") { %>
                                                style="color:red"
                                               <% } %>
                                               <% if (users[i].status=="Unblocked") { %>
                                                style="color:green"
                                               <% } %>>
                                                <%=users[i].status %>
                                            </td>
                                            
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#editStatus<%=users[i]._id  %>"
                                                    class="btn border-shadow update">
                                                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                                                </a>
                                                <a href="/delete-user/<%= users[i]._id%>" class="btn border-shadow delete" >
                                                    <span class="text-gradient"><i class="fas fa-times"></i></span>
                                                </a>
                                                <!-- <a href="" class="btn border-shadow" email-id=<%=users[i]._id %>></a>
                                                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span> -->
                                            </td>
                                        </tr>
                                        <% } %>
                                       <% } %>
                                       

                                </tbody>
                            </table>
                        </div>
                    </div>



                    <!-- Table End -->



                    <!-- modal -->
                    <% if (users) { %>
                        <% users.forEach(element => { %>
                    <div class="modal fade" id="editStatus<%=element._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Edit Status</h5>
                              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                             <form class="text-dark" action="/update-user-status/<%= element._id %>" method="post">
                                   <div class="form-group">
                                     <label for="name" class="col-form-label text-dark">Status : </label>
                                     <select class="custom-select tm-select-accounts" id="name" name="status">
                                       <option value="Unblocked" <%=element.status==='Unblocked' ? 'selected' : '' %>>Unblocked</option>
                                       <option value="Blocked" <%=element.status==='Blocked' ? 'selected' : '' %>>Blocked</option>
                                     </select>
                                     <input hidden name="userId" value="<%= element.userId %>">
                                   </div>
                                   <div class="modal-footer">
                                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                                     <a><button type="submit" class="btn btn-primary">confirm</button></a>
                                   </div>
                                 </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% }) %>
                     
                      <% } %>
                     <!-- modal -->


                    <!-- Footer Start -->
                    <div class="container-fluid pt-4 px-4">
                        <div class="bg-light rounded-top p-4">
                            <div class="row">
                                <div class="col-12 col-sm-6 text-center text-sm-start">
                                    &copy; <a href="#">Super User</a>, All Right Reserved.
                                </div>
                                <div class="col-12 col-sm-6 text-center text-sm-end">
                                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                    Designed with love
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer End -->
            </div>
            <!-- Content End -->


            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script> setTimeout(() => {
        document.getElementById("msg").style.display='none'
    },3000);</script>




    <%- include('_footer') %>