


<%- include('_userheader') %>

<body>

    <!-- Start Header Area -->
	<%- include('_headerNavBar') %>
	<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<div class="container">
    <div class=" billing_details">
        <div class="row">
            <div class="col-md-8">
                <h3>Save Address Details</h3>
                <form class="row contact_form" action="/address" method="post" novalidate="novalidate">
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="first" name="firstName"  placeholder = 'First Name*'">
                       
                    </div>
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="last" name="lastName"  placeholder = 'Last Name*'">
                        
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" id="company" name="companyName" placeholder = 'Company Name'>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="number" name="phone" placeholder = 'Phone*'">
                        
                    </div>
                    <div class="col-md-6 form-group p_star">
                        <input type="text" class="form-control" id="email" name="email" placeholder = 'Email Id *'">
                        
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <select class="country_select" name="country">
                            <option value="India">India</option>
                           
                        </select>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <input type="text" class="form-control" id="add1" name="addressLine1" placeholder = 'Address First Line*'">
                        
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <input type="text" class="form-control" id="add2" name="addressLine2" placeholder = 'Address Second Line*'">
                        
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <input type="text" class="form-control" id="city" name="city" placeholder = 'City*'">
                        
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <select class="country_select" name="state">
                            <option value="Kerala">Kerala</option>
                            
                        </select>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <select class="country_select" name="district">
                            <option value="Ernakulam">Ernakulam</option>
                            <option value="Thrissur">Thrissur</option>
                            <option value="Alappuzha">Alappuzha</option>
                        </select>
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" id="zip" name="postcode" placeholder = 'Postcode*'">
                    </div>
                    <div class="col-md-12 form-group mt-3">
                        <button type="submit" value="submit" class="primary-btn">Save</button>
                        
                    </div>
                   
                </form>
            </div>

            <div class="col-md-4">
                <h3>Saved Address Details</h3>
                  <form class="contact_form" action="">

                    <% if (address) { %>

                       <% address.forEach(element => { %>
                        
                      
              
                        <input value="address" class="pixel-radio" type="radio" id="apple" name="address"><label for="address">
                            <h5><%= element.firstName %></h5>
                            <h5><%= element.addressLine1 %>,<%= element.addressLine2 %></h5>
                            <h5><%= element.state %>,<%= element.district %>,<%= element.country %></h5>
                            <h5><%= element.postcode %></h5>
                            <h5><%= element.email %></h5>
                            <h5><%= element.phone %></h5></label>
                           
                            <div class="col-md-12 form-group mt-3" >

                                <!-- <button class="primary-btn" type="submit">Deliver Here</button>  -->
                                
                                <a href="/checkout/<%= element._id%>"  class="primary-btn" >Deliver Here </a>
                            </div>

                            <% }) %>
                            <% } %>
                  </form>
                        
            </div>


        </div>
    </div>
    
</div>




 <!-- start footer Area -->
 <%- include('_footerArea') %>
<!-- End footer Area -->


<%- include('_userfooter') %>