
<%- include('_userheader') %>

<body>
	<!-- Start Header Area -->
	<%- include('_headerNavBar') %>
	<!-- End Header Area -->
	
	<!-- start banner Area -->
	
	<section class="-area">
		<div class="container" >
			<div class="row  align-items-center justify-content-start">
				<div class="col-md-12" style="margin-top: 150px;"  >
					<% if (banner) { %>
					 <img src="<%= banner.image %>" style="height: 100%; width: 100%;" alt="">
					
				</div>
				<% } %>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	
	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/assets/img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/assetsimg/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/assets/img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/assets/img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	<!-- Start exclusive deal Area -->
	<section class="exclusive-deal-area">
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				
				<div class="col-lg-6 no-padding exclusive-right">
					<div class="active-exclusive-product-slider">
						<!-- single exclusive carousel -->
						<% if (allProduct) { %>
							<% allProduct.forEach(element => { %>
						<div class="single-exclusive-slider">
							<img class="img-fluid" src="<%= element.image[0] %>" alt="">
							<div class="product-details">
								<div class="price">
									<h6><%= element.price %></h6>
									
								</div>
								<h4><%= element.name %></h4>
								<div class="add-bag d-flex align-items-center justify-content-center">
									<a class="add-btn" href="/add-to-cart/<%= element._id %>"><span class="ti-bag"></span></a>
									<span class="add-text text-uppercase">Add to Bag</span>
								</div>
								
							</div>
						</div>

						<% }) %>
					 
					<% } %>
						<!-- single exclusive carousel -->
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End exclusive deal Area -->

	

	

	<!-- start product Area -->
	<section class=" owl-carousel active-product-area  section_gap">
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Nike</h1>
							<p>Nike produces a wide range of sports equipment and apparel. Their first products were track running shoes. Nike Air Max is a line of shoes first released by Nike, Inc. in 1987. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					<% if (nike) { %>
						<% nike.forEach(element => { %>
						 
							<div class="col-lg-3 col-md-6">
								<div class="single-product">
									<img class="img-fluid" src="<%= element.image[0] %>" alt="">
									<div class="product-details">
										<h6><%= element.brand.name %></h6>
										<a href="/product-detail?id=<%= element._id%>"><h6><%= element.name %></h6></a>
										<div class="price">
											<h6><%= element.price %></h6>
										</div>
										<div class="prd-bottom">
		
											<a href="/add-to-cart/<%= element._id %>" class="social-info">
												<span class="ti-bag" href=""></span>
												<p class="hover-text">Cart</p>
											</a>
											<a href="" class="social-info">
												<span class="lnr lnr-heart"></span>
												<p class="hover-text">Wishlist</p>
											</a>
											
											
										</div>
									</div>
								</div>
							</div>

						<% }) %>
					 
					<% } %>
					
					
					
				</div>
			</div>
		</div>
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Adidas</h1>
							<p>The first Adidas item of apparel was the Franz Beckenbauer tracksuit created in 1967. Adidas AG is the largest manufacturer of sports bras in Europe, and the second largest manufacturer in the world.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					<% if (adidas) { %>
						<% adidas.forEach(element => { %>
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="<%= element.image[0] %>" alt="">
							<div class="product-details">
								<h6><%= element.brand.name %></h6>
									<a href="/product-detail?id=<%= element._id%>"><h6><%= element.name %></h6></a>
								<div class="price">
									<h6><%= element.price %></h6>
									
								</div>
								<div class="prd-bottom">

									<a href="/add-to-cart/<%= element._id %>" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
									
									
								</div>
							</div>
						</div>
					</div>

					<% }) %>
					 
					<% } %>
				</div>

				
			</div>
		</div>



		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>New Balance</h1>
							<p>New Balance manufactures a range of shoes and apparel. It maintains a manufacturing presence in the United States, as well as in the United Kingdom for the European market, where it produces some of its most popular models such as the 990</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					<% if (newBalance) { %>
						<% newBalance.forEach(element => { %>
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="<%= element.image[0] %>" alt="">
							<div class="product-details">
								<h6><%= element.brand.name %></h6>
									<a href="/product-detail?id=<%= element._id%>"><h6><%= element.name %></h6></a>
								<div class="price">
									<h6><%= element.price %></h6>
									
								</div>
								<div class="prd-bottom">

									<a href="/add-to-cart/<%= element._id %>" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
									
									
								</div>
							</div>
						</div>
					</div>

					<% }) %>
					 
					<% } %>
				</div>

				
			</div>
		</div>
	</section>
	<!-- end product Area -->



	

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Use Code <b>"women10"</b> to get 10% off on selected Products</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						
	
						<% if (ladies) { %>
						 <% ladies.forEach(element => { %>
							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="single-related-product d-flex">
									<a href="#"><img src="<%= element.image[0] %>" style="height: 100px;" alt=""></a>
									<div class="desc">
										<a href="#" class="title"><%= element.name %></a>
										<div class="price">
											<h6 class="l-through"><%= element.price %></h6>
											<h6 ><%= element.price-=element.price*10/100 %></h6>
										</div>
									</div>
								</div>
							</div>
						 <% }) %>
						<% } %>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	<!-- start footer Area -->
	<%- include('_footerArea') %>
	<!-- End footer Area -->


	<script>
		Swal.fire(`${email} is blocked by admin`)
	</script>

	<%- include('_userfooter') %>

	