

<%- include('_userheader') %>

    <!-- Start Header Area -->
	<%- include('_headerNavBar') %>
	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Order Details</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/user-profile">User Profile<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Order Details</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">User Name</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Payment Mode</th>
                                <th scope="col">SubTotal</th>
                                <th scope="col">Coupon Used</th>
                                <th scope="col">Address</th>
                                <th scope="col">Status</th>
                                <th scope="col">Get Invoice</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            
                            <% if (order) { %>
                                <% let sum=0 %>

                                        <tr>
                                             <td><%=order.userId.name  %></td>
                                             <td>  <% order.products.forEach(element => { %> <%=element.name %> <br> <% }) %></td>
                                             <td>  <% order.products.forEach(element => { %> <%= element.price %> <br> <% }) %></td>
                                             <td>  <% order.products.forEach(element => { %> <%= element.quantity %> <br>  <% }) %></td>
                                             <td>  <% order.products.forEach(element => { %> <%= element.total %> <br> <% }) %></td>
                                             <td>  <%=order.paymentMode %> <% if (order.secondaryPaymentMode) { %>
                                              /<%= order.secondaryPaymentMode %>
                                             <% } %></td>
                                             <td><%= order.subTotal %></td>
                                             <td><%= order.coupon %></td>
                                             <td><%= order.address.addressLine1 %><br> <%= order.address.addressLine2 %> <br> <%= order.address.postcode %> </td>
                                             <td><a href="#"><%= order.status %></a></td>
                                             <td><a href="/invoice/<%=order._id%>">get invoice</a></td>
                                        </tr>
                                       
                                   <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

    <!-- start footer Area -->
    <%- include('_footerArea') %>
    <!-- End footer Area -->
    <script>
        const field = document.getElementById('qty');
        const cartValue = field.value;
        const productId = field.getAttribute('product_id');
       

            async function inc(id) {

            try {
              const response = await fetch('/cart/inc', {method: 'POST',headers: {'Content-Type': 'application/json'},body: JSON.stringify({ cartValue, productId })});
              const data = await response.json();
              console.log(data);
              updateInputField(data,id);
            } catch (err) {
              console.error(err);
            }
                }
                
                

            async function dec(id){
                   try {
                    const response = await fetch('/cart/dec',{method:'POST',headers:{'Content-Type':'application/json'},body: JSON.stringify({cartValue,productId})})
                    const data =  await response.json();
                    console.log(data);
                    updateInputField(data,id);
                   } catch (err) {
                    console.error(err);
                    
                   }
                }
                function updateInputField(data ,id ){
                   data.products.forEach(element => {
                    let sum=0;
                    document.getElementById(`qty`).value=element.quantity
                    document.getElementById(`total-${id}`).innerHTML=element.quantity*element.price
                    document.getElementById('subtotal').innerHTML=sum+(element.quantity*element.price)
                   });
                  
                         }

                         updateInputField(data)
              

                
               
                


    </script>
    

   <%- include('_userfooter') %>


   