<%- include('_userheader') %>

<body>
	

	<%- include('_headerNavBar') %>
	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>User Profile</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/user-profile">User Profile</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container" >
			<div class="row">
				<% if (user) { %>
                    <div class="col-lg-6">
                        <div >
                            <img style="height: 600px;" class="img-fluid" src="<%= user.image %>" alt="">
                        </div>
						<a class="primary-btn btn mt-3" href="" data-toggle="modal" data-target="#addProfilePic"><% if (user.image) { %>
						 Update Profile Pic
						 <% } else { %>
						 Add Profile Pic
						<% } %></a>
                    </div>
                    <div class="col-lg-6">
                        <div class="login_form_inner " style="text-align: left;" >
                            
                                <h2>Name : <span><%= user.name %></span></h2>
                                <hr class="divider">
								<h4><a href="/wallet-history">Wallet Balance</a>  : <span><i class="fa fa-inr" aria-hidden="true"></i> <%= wallet.amount %></span></h4>
								<hr class="divider">
                                <h4>Phone : <span><%= user.phone %></span></h4>
                                <h4>Email Id : <span><%= user.email %></span></h4>
                                <hr class="divider" >
                                <h4>Status : <span <% if (user.status=="Unblocked") { %>
									style="color:green"
								   <% } %>
								   <% if (user.status=="Blocked") { %>
									style="color:red"
								   <% } %>><%= user.status %></span></h4>
                                <hr class="divider" >
                                <h4>Primary Address : </h4>
                                <% if (address) { %>
                                <h6><%= address.firstName %> <%= address.lastName %></h6>
                                <h6><%= address.addressLine1 %>,<%= address.addressLine2 %></h6>
                                <h6><%=address.district  %>,<%=address.state  %>,<%= address.country %></h6>
                                <h6>Pincode : <%= address.postcode %></h6>
                                <h6>Phone No : <%=address.phone  %></h6>
                            <% } %>
                            
                        </div>
                        
                    </div>
                <% } %>
			</div>
		</div>
	</section>
	<div class="col-sm-12 col-xl-12">
		<div class="bg-light rounded h-100 p-4">
			<h6 class="mb-4">Order Details</h6>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">No</th>
						
						<th scope="col">ID</th>
						<th scope="col">User Name</th>
						<th scope="col">Product Name</th>
						<th scope="col">Status</th>
						<th scope="col">Product Details</th>
						<th scope="col">Action</th>

					</tr>
				</thead>
				<tbody>
				  
					
				   
				   <% if (order) { %>
					<% for(let i=0;i<order.length;i++){ %>
						<a href="/order-details/<%= order[i]._id %>">
							<tr>
								<td><%= i+1 %></td>
								
								<td><%= order[i].invoiceNumber %></td>
								<td><%=order[i].userId.name  %></td>
								<td><% (order[i].products).forEach(element => { %><%= element.name  %> <br><% }) %></td>
								<td <% if (order[i].status=="Cancelled") { %>
									style="color:red"
								   <% } %>
								   <% if (order[i].status=="Processing") { %>
									style="color:orange"
								   <% } %>
								   <% if (order[i].status=="Delivered") { %>
									   style="color:green"
								   <% } %>
								   <% if (order[i].status=="Shipped") { %>
									   style="color:blue"
								   <% } %>
								   <% if (order[i].status=="Returned") { %>
									style="color:violet"
								   <% } %>><%= order[i].status %></td>
								<td><a href="/order-details/<%= order[i]._id %>">Detailed View</a></td>
								<td>
									<% if (order[i].status === "Cancelled") { %>
									  Cancelled
									  <% } %>
									<% if (order[i].status === "Processing") { %>
										<a href="/cancel-order/<%= order[i]._id %>" style="color: red;" class="btn border-shadow update">
										  <span class="text-gradient"><i class="fa fa-ban" aria-hidden="true"></i></span>
										</a>
										<% } %>
									<% if (order[i].status === "Shipped") { %>
											<a href="/cancel-order/<%= order[i]._id %>" style="color: red;" class="btn border-shadow update">
											  <span class="text-gradient"><i class="fa fa-ban" aria-hidden="true"></i></span>
											</a>
											<% } %>	
									<% if (order[i].status === "Delivered") { %>
									  <a href="/return-order/<%= order[i]._id %>" style="color: red;" class="btn border-shadow update">
										<span class="text-gradient">Return Product <i class="fa fa-ban" aria-hidden="true"></i></span>
									  </a>
									<% } %>
								  </td>
							</tr>
						</a>

							<% } %>

				   <% } %>

				</tbody>
			</table>
		</div>
	</div>
	<!--================End Login Box Area =================-->

	<!-- modal -->
	<div class="modal fade" id="addProfilePic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLongTitle">Add Profile Pic</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			 <form class="text-dark" action="/add-profile-pic" method="post" enctype="multipart/form-data">
				<div class="col-md-12 form-group">
					<input type="file" class="form-control" id="image" name="image" value="" placeholder="Image" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Image'">
				</div>
				   <div class="modal-footer">
					 <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
					 <a><button type="submit" class="btn btn-primary">confirm</button></a>
				   </div>
				 </form>
			</div>
		  </div>
		</div>
	  </div>
	<!-- modal -->



	<!-- start footer Area -->
	<%- include('_footerArea') %>
	<!-- End footer Area -->


	<script src="/assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/assets/js/vendor/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
	<script src="/assets/js/jquery.nice-select.min.js"></script>
	<script src="/assets/js/jquery.sticky.js"></script>
	<script src="/assets/js/nouislider.min.js"></script>
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/assets/js/gmaps.min.js"></script>
	<script src="/assets/js/main.js"></script>


	<%- include('_userfooter') %>